{
    "policies": {
        "DisableTelemetry": true,
        "DisableFirefoxAccounts": true,
        "DisableFirefoxScreenshots": true,
        "DisableFirefoxStudies": true,
        "DisablePocket": true,
        "DNSOverHTTPS": {
            "Enabled": true
        },
        "EncryptedMediaExtensions": {
            "Enabled": false,
            "Locked": false
        },
        "ExtensionSettings": {
{% if ext_install_bitwarden %}
            "{446900e4-71c2-419f-a6a7-df9c091e268b}": {
                "installation_mode": "normal_installed",
                "install_url": "https://addons.mozilla.org/firefox/downloads/latest/bitwarden-password-manager/latest.xpi",
                "default_area": "navbar"
            },
{% endif %}
{% if ext_install_multi_acct_containers %}
            "@testpilot-containers": {
                "installation_mode": "normal_installed",
                "install_url": "https://addons.mozilla.org/firefox/downloads/latest/multi-account-containers/latest.xpi",
                "default_area": "navbar"
            },
{% endif %}
{% if ext_install_temporary_containers %}
            "{c607c8df-14a7-4f28-894f-29e8722976af}": {
                "installation_mode": "normal_installed",
                "install_url": "https://addons.mozilla.org/firefox/downloads/latest/temporary-containers/latest.xpi"
            },
{% endif %}
{% if ext_install_istilldontcareaboutcookies %}
            "idcac-pub@guus.ninja": {
                "installation_mode": "normal_installed",
                "install_url": "https://addons.mozilla.org/firefox/downloads/latest/istilldontcareaboutcookies/latest.xpi"
            },
{% endif %}
{% if ext_install_localcdn %}
            "{b86e4813-687a-43e6-ab65-0bde4ab75758}": {
                "installation_mode": "normal_installed",
                "install_url": "https://addons.mozilla.org/firefox/downloads/latest/localcdn-fork-of-decentraleyes/latest.xpi"
            },
{% endif %}
{% if ext_install_canvasblocker %}
            "CanvasBlocker@kkapsner.de": {
                "installation_mode": "normal_installed",
                "install_url": "https://addons.mozilla.org/firefox/downloads/latest/canvasblocker/latest.xpi"
            },
{% endif %}
{% if ext_install_raindrop %}
            "jid0-adyhmvsP91nUO8pRv0Mn2VKeB84@jetpack": {
                "installation_mode": "normal_installed",
                "install_url": "https://addons.mozilla.org/firefox/downloads/latest/raindropio/latest.xpi",
                "default_area": "navbar"
            },
{% endif %}
{% if ext_install_bypass_paywall %}
            "magnolia@12.34": {
                "installation_mode": "normal_installed",
                "install_url": "https://gitlab.com/magnolia1234/bpc-uploads/-/raw/master/bypass_paywalls_clean-latest.xpi"
            },
{% endif %}
            "uBlock0@raymondhill.net": {
                "installation_mode": "normal_installed",
                "install_url": "https://addons.mozilla.org/firefox/downloads/latest/ublock-origin/latest.xpi",
                "default_area": "navbar"
            }
        },
{% if ext_auto_update %}
        "ExtensionUpdate": true,
{% endif %}
{% if firefox_clean_newtabpage %}
        "FirefoxHome": {
            "Search": true,
            "TopSites": true,
            "SponsoredTopSites": false,
            "Highlights": true,
            "Pocket": false,
            "SponsoredPocket": false,
            "Snippets": false,
            "Locked": false
        },
{% endif %}
{% if firefox_suggest_nonsponsored_only %}
        "FirefoxSuggest": {
            "WebSuggestions": true,
            "SponsoredSuggestions": false,
            "ImproveSuggest": false
        },
{% endif %}
        "NoDefaultBookmarks": true,
        "OfferToSaveLogins": false,
        "SearchEngines": {
            "Default": "DuckDuckGo",
            "PreventInstalls": true
        }
    }
}